#text
  %form{ :name => 'add', :method => 'post', :action => '/admin/add', :enctype => 'multipart/form-data'}
    %fieldset
      %legend 
        %span Добавить новый стрип или
        %a{ :href => '/admin/list' } редактировать существующие
      %table
        %tr
          %td
            %label{ :for => 'comics[title]' } Название:
          %td
            %input{ :name => 'comics[title]', :type => 'text' }
        %tr
          %td
            %label{ :for => 'comics[image]' } Изображение:
          %td
            %input{ :name => 'comics[image]', :type => 'file' }
        %tr
          %td
            %label{ :for => 'comics[description]' } Описание (можно использовать html):
          %td
            %textarea{ :name => 'comics[description]', :rows => 8, :cols => 60}
        %tr
          %td{:colspan => '2'}
            %center
              %input{ :type => 'submit', :value => 'Добавить' }
  %span.backtomain
    %a{ :href => '/admin' } Вернуться на главную